.edit-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.edit-container {
    background-color: hsla(48, 39%, 70%, 0.555);
}